<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post Up!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <h1>Post Up!</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
       {{{body}}}
        
        {{!-- <section class="featured-post">
            <h3>Featured Post</h3>
            <div class="blog-post">
                <h4>Featured Blog Post Title</h4>
                <p>Posted by Jessica Brown | June 13, 2023</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                <a href="/posts/4">Read More</a>
            </div>
        </section> --}}
    </div>

    <footer>
        
    </footer>

    <script src="/public/js/logout.js"></script>
</body>
</html>
