<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Post Up!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <h1>Post Up!</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Welcome to Post Up!</h2>
        
        <section class="recent-posts">
            <h3>Recent Posts</h3>
            <div class="blog-post">
                <h4>Blog Post Title</h4>
                <p>Posted by John Doe | June 16, 2023</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/posts/1">Read More</a>
            </div>
            <div class="blog-post">
                <h4>Another Blog Post Title</h4>
                <p>Posted by Jane Smith | June 15, 2023</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="/posts/2">Read More</a>
            </div>
            <div class="blog-post">
                <h4>Yet Another Blog Post Title</h4>
                <p>Posted by Alex Johnson | June 14, 2023</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a href="/posts/3">Read More</a>
            </div>
        </section>
        
        <section class="featured-post">
            <h3>Featured Post</h3>
            <div class="blog-post">
                <h4>Featured Blog Post Title</h4>
                <p>Posted by Jessica Brown | June 13, 2023</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                <a href="/posts/4">Read More</a>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2023 Post Up! All rights reserved.</p>
    </footer>

    <script src="/public/js/logout.js"></script>
</body>
</html>
